docker==4.1.0
docker-pycreds
psycopg2==2.8.5
pytest-rerunfailures
async_asgi_testclient
mypy-zope==0.2.0
mypy==0.720
backoff==1.10.0
black==19.10b0
codecov==2.0.15
flake8==3.7.7
pytest==5.4.3
pytest-asyncio==0.10.0
pytest-cov==2.10.0
coverage>=4.0.3
pytest-docker-fixtures>=1.3.9
isort==4.3.21
aiohttp
mock